<h1>Sample Academy of Art and Design <a href="@Url.Action("Index", "Home")" title="home"</a></h1>
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@inject SignInManager<IdentityUser> SignInManager

<nav id="pagenav" class="cf">
    <ul>
        <li><a href="~/programs/programs.htm" title="programs">Programs</a></li>
        <li><a href="admissions.htm" title="admissions">Admissions</a></li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a href="@Url.Action("Index", "Student")" title="Students Protal">Student Portal</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action("Login", "Account")" title="Login">Student Portal</a>
            </li>
        }
        <li><a href="student_portal.htm" title="student portal">Student Portal</a></li>
        <li><a href="campus_portal.htm" title="campus portal">Campus</a></li>
        <li><a href="alumni.htm" title="alumni">Alumni</a></li>
        <li><a href="~/about/about.htm" title="about Sample Academy">About</a></li>
        <li>
            @if(SignInManager.IsSignedIn(User))
            {
                <form id="logout" asp-controller="Account" asp-action="Logout" role="form" method="post">
                    <input type="submit" value="Logout" class="logout" />
                </form>
            }
        </li>
    </ul>
</nav>
