
@{
    ViewData["Title"] = "Dependency Injection - Controller Injection";
}

<h2>@ViewData["Title"]</h2>

<h2>A message from server </h2>
<p>
    @ViewData["Message"]
</p>

<br />
@Html.ActionLink("Click For Configuration Injection", "Index", "Settings", null)
@Html.ActionLink("Click For Action method Injection", "About", "Home", null)

